@import url('https://fonts.googleapis.com/css?family=Roboto|Suez+One');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body, html {
    width: 100%;
    height: 100%;
}

/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#fff;
  z-index: 99;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(preloader.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

/*header*/
header {
  width: 100%;
  padding: 10px 0.5% 0px 0.5%;
  background: transparent;
  float: left;
  position: fixed;
}

header #logo {
  color: #fff;
  cursor: pointer;
}

header #logo span {
  font-size: 1.7em;
  line-height: 45px;
  margin-left: 40px;
  font-family: 'Suez One', serif;
}

@media (min-width: 701px) {
  #logo {
    float: left;
    width: 30%;
    font-size: 1.1em;
  }

  #about {
      float: right;
      width: 67%;
  }
}

@media (max-width: 700px) {
  #logo {
    margin-top: 15px;
    width: 100%;
    font-size: 1.5em;
    border-bottom: 1px groove;
    margin-bottom: 5px;
  }

  #about {
      float: left;
      width: 100%;
  }
}

#about {
  text-align: center;
  font-size: 1em;
  line-height: 40px;
  margin-bottom: 10px;
}

#about > a {color: #fff}

#about > a:hover {
  color: #b0b0b0;
  text-decoration: underline;
}

#about > a:not(:last-child) {
  margin-right: 7%;
}

.fixed {
  z-index: 5000;
  background-color: #fff;
  border-bottom: 1px solid silver;
}

header.fixed #logo {
  color: #343434;
}

.fixed #about a {
  color: #343434
}

.fixed #about a:hover {
  color: #7c7c7c
}

/*top*/
#top {
  width: 100%;
  background-image: url("image.jpg");
  background-blend-mode: multiply;
  background-color: #485966;
  background-size: cover;
  text-align: center;
  color: #fff;
}

@media (min-width: 1001px) {
  #top {
    font-size: 3em;
    height: 1000px;
  }
}

@media (max-width: 1000px)  {
  #top {
    font-size: 2em;
    height: 600px;
  }
}

@media (max-width: 650px) {
  #top {
    font-size: 1.3em;
    padding-top: 40%;
    height: 500px;
  }
}

@media (max-width: 450px) {
  #top {
    font-size: 0.9em;
  }
}

@media (max-width: 180px) {
  #top {
    padding-top: 80%;
  }
}

#top h1 {
  padding-top: 20%;
}

#top h3 {
  color: #ccc;
}

/*main*/
#main {
  width:100%;
  background-color: #f6f6f6;
  border-top: 2px solid silver;
  color: #484848;
  font-size: 1.3em;
  height:500px;
}

#main {
  transform: translate3d(-30px, 0, 0);
  transition: all .5s ease-out;
  opacity: 0;
}

#main.active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

#text {
  margin-top: 8%;
  line-height: 1.5;
}

#intro h2{
  margin-bottom: 1.5%;
}

#subtext {
  font-weight: 550;
}

#intro {
  margin-top: 8%;
}

@media (max-width: 1000px) {
  #main {
    height: 700px;
  }
}

@media (max-width: 500px) {
  #main {
    height: 900px;
  }
}

@media (max-width: 400px) {
  #main {
    height: 1000px;
  }
}

@media (max-width: 300px) {
  #main {
    height: 1450px;
  }
}

@media (max-width: 200px) {
  #main {
    height: 2020px;
  }
}

#main h2 {
  font-size: 30pt;
}

@media (max-width: 205px) {
  #main h2 {
    font-size: 24pt;
  }
}

#main span {
  color: #a0a0a0;
}

/* projects */

.showSlide {  
  display: none  
}  
  .showSlide img {  
      width: 100%; 
      height: 600px; 
  }  
.slidercontainer {  
  position: relative;  
  margin: auto;  
}  
.left, .right {  
  cursor: pointer;  
  position: absolute;  
  top: 50%;  
  width: auto;  
  padding: 16px;  
  margin-top: -22px;  
  color: white;  
  font-weight: bold;  
  font-size: 18px;  
  transition: 0.6s ease;  
  border-radius: 0 3px 3px 0;  
}  
.right {  
  right: 0;  
  border-radius: 3px 0 0 3px;  
}  
  .left:hover, .right:hover {  
      background-color: rgba(115, 115, 115, 0.8);  
  }  
.subtext {  
  color: #eff5d4;  
  font-size: 30px;  
  padding: 8px 12px;  
  position: absolute;  
  top: 10px;  
  width: 100%;  
  text-align: center;  
}  

/* Fading animation */  
.fade {  
  -webkit-animation-name: fade;  
  -webkit-animation-duration: 5s;  
  animation-name: fade;  
  animation-duration: 5s;  
}  
@-webkit-keyframes fade {  
  from {  
      opacity: .4  
  }  
  to {  
      opacity: 1  
  }  
}  

@keyframes fade {  
  from {  
      opacity: .4  
  }  
  to {  
      opacity: 1  
  }  
} 


/*team*/

.row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
#team {
  transform: translate3d(-45px, 0, 0);
  transition: all .5s ease-out;
  opacity: 0;
}

#team.active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

ul{
  margin:0;
  padding:0;
  list-style:none;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner{ 
     border:1px solid #999999; 
	 text-align:center; 
	 margin-bottom:28px; 
	 padding:40px 25px;
}
.team .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
}
.practice-area .inner h3{ 
    color:#3c3c3c; 
	font-size:24px; 
	font-weight:500;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0;
}
.practice-area .inner p{ 
    font-size:14px; 
	line-height:22px; 
	font-weight:400;
}
.practice-area .inner img{
	display:inline-block;
}

.team{
  background: url("team-background.jpg") ;
  background-blend-mode: multiply;
  background-color: #528fbd;
}

.team .cnt-block{ 
   float:left; 
   width:100%; 
   background:#fff; 
   padding:30px 20px; 
   text-align:center; 
   border:2px solid #d5d5d5;
   margin: 0 0 28px;
}

.team .cnt-block:hover {
  background: rgb(211, 209, 209);
}

.team .cnt-block figure{
   width:148px; 
   height:148px; 
   border-radius:100%; 
   display:inline-block;
   margin-bottom: 15px;
}

.team .cnt-block img{ 
   width:148px; 
   height:148px; 
   border-radius:100%; 
}

.team .cnt-block h3{ 
   color:#2a2a2a; 
   font-size:20px; 
   font-weight:500; 
   padding:6px 0;
   text-transform: uppercase;
}

.team .cnt-block p{ 
   color:#2a2a2a; 
   font-size:13px; 
   line-height:20px; 
   font-weight:400;
}

.team .cnt-block .follow-us{
	margin:20px 0 0;
}

.team .cnt-block .follow-us li{ 
  display:inline-block; 
	width:auto; 
	margin:0 5px;
}

.team .cnt-block .follow-us li .fa{ 
   font-size:24px; 
   color:#767676;
}

.team .cnt-block .follow-us li .fa:hover{ 
   color:#025a8e;
}



/* footer*/

#footer
{
  background-color:#0f0f11;
  padding:45px 0 20px;
  font-size:15px;
  font-family: inherit;
  line-height:24px;
  color:#a1a1a1;
}

#footer {
  transition: all .4s ease-in-out;
  transform: translate3d(0, 30px, 0);
  opacity: 0;
}

#footer.active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

#footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}

#footer hr.small
{
  margin:20px 0
}

#footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
#footer a
{
  color:#737373;
}
#footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}

.footer-links
{
  padding-left:0;
  list-style:none
}

.footer-links li
{
  display:block
}

.footer-links p
{
  margin-bottom: 0px;
}

.footer-links p:hover
{
  color:#3366cc;
  text-decoration:none;
}

.footer-links a
{
  color:#737373
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}

.footer-links.inline li
{
  display:inline-block
}

#footer .social-icons
{
  text-align:right
}
#footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  #footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  #footer
  {
    padding-bottom:0
  }
  #footer .copyright-text, #footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}